.body-container{
    width: 1920px;
    display: grid ;
    grid-template-columns: auto 1610px;
    grid-template-areas: 
    "header header" 
    "aside main-container";

}

/*  */

.top-bar-menu {
    height: 120px;
    width: 1920px;
    display: flex;
    grid-area: header;
    flex-direction: column;
  }

.rectangle{
    height: 35px;
    background-color: #008480;
    padding-left: 27px;
    padding-right: 24px;
    align-items: center;
}

.votre-partenaire-equ{
    height: 17px;
    width: 423px;
    color: #FFFFFF;
    font-family: Arimo;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 18px;
}

.group-5{
    height: 17px;
    width: 313px;
    align-items: center;
}

.group-5 p, .fa-phone-volume{
    color: #FFFFFF;
    font-family: Arimo;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 18px;
}

.atoms-colors-black {
    height: 98px;
    width: 1920px;
    background-color: #4F596D;
    align-items: center;

  }

.menu-and-title-container{
    align-items: center;
}

.group-8 {
    height: 16px;
    width: 20px;
    margin-right: 41px;
    margin-left: 27px;
    align-items: center;
}

.group-67 {
    height: 61.15px;
    width: 239.88px;
    align-items: center;
  }

.group-25 {
    height: 50px;
    width: 644px;
    align-items: center;
}

.group-25-rectangle {
    height: 50px;
    width: 609.56px;
    background-color: #FFFFFF;
    box-shadow: inset 0 1px 13px 0 rgba(0,0,0,0.2);
    align-items: center;
    padding-left: 11.02px ;
    padding-top: 17px;
    padding-bottom: 14px;
}

.rechercher-un-produi {
    height: 19px;
    width: 392.45px;
    color: #000000;
    font-family: Arimo;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 16px;
}

.group-25-rectangle-1 {
    height: 50px;
    width: 52.19px;
    background-color: #F59C00;
    box-shadow: -3px 0 4px 0 rgba(0,0,0,0.12);
    align-items: center;
    margin-left: -17.75px;
    align-items: center;
}

.magnifier {
    height: 22px;
    width: 23px;
    transform: scaleX(-1);
    align-self: center;
    margin-right: 15.42px;
    margin-left: 13.77px;
    margin-top: 14px;
}

.group-2 {
    height: 50px;
    width: 512px;
    align-items: center;
  }

.group-7-9 {
    height: 50px;
    width: 96px;
    justify-content: center;
    align-items: center;
}

.group-7-9 span {
    height: 16px;
    width: 96px;
    color: #FFFFFF;
    font-family: Arimo;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 16px;
}

.group-7-9 i{
    height: 26.5px;
    width: 25.98px;
    color: #FFFFFF;
}

.group-3 {
    height: 26.5px;
    width: 25.98px;
    align-items: center;
  }

.groupe-7-9-rectangle-1 {
    height: 85px;
    width: 85px;
    background-color: #F59C00;
    align-items: center;
}

.shopping-cart-1 {
    height: 26px;
    width: 28px;
}

/*    */

.menu-horizontal {
    height: 617px;
    width: 556px;
    grid-area: aside;
    position: absolute;
}

.rectangle-6248 {
    height: 617px;
    width: 310px;
    box-shadow: 0 2px 14px 0 rgba(0,0,0,0.1);
  }

.menu-horizontal-hidden {
    box-shadow: 0 2px 14px 0 rgba(0,0,0,0.1);
    height: 617px;
    width: 310px;
}



.menu-horizontal-rectangle{
    width: 307px;
    height: 50px;
    background-color: #FFFFFF;
    box-shadow: 0 2px 14px 0 rgba(0,0,0,0.1);
    align-items: center;
}


.menu-horizontal-rectangle:hover{
   border-bottom: 3px solid #0098D8;
}


.menu-horizontal-rectangle-small {
    height: 50px;
    width: 50px;
    box-shadow: 0 2px 14px 0 rgba(0,0,0,0.1);
}

.menu-horizontal-rectangle p {
    margin-left: 12px;
    height: 19px;
    width: 221px;
    color: #000000;
    font-family: Arimo;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: -0.38px;
    line-height: 19px;
}

/*  */

.stacked-goup-rectangle {
    height: 40px;
    width: 1610px;
    background-color: #FFFFFF;
    box-shadow: 36px 14px 14px 0 rgba(0,0,0,0.15);
    align-items: center;
}

.stacked-goup-rectange-small{
    width: 329px;
    height: 28px;
    border-right: 1px solid #4F596D;
    justify-content: center;
    align-items: center;
}

.stacked-icon{
    height: 24px;
    width: 24px;
    color: #4F596D;
    font-size: 14px;
    font-weight: 500;
    margin-top: 8px;
}

.stacked-goup-rectange-small p {
    height: 19px;
    color: #4F596D;
    font-family: Arimo;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 16px;
}

/*  */

.group-32 {
    height: 338px;
    width: 1610px;
    align-items: center;
  }

.group-22-rectangle {
    height: 39px;
    width: 1610px;
    background-color: #4F596D;
    padding-left: -179.03px;
    align-items: center;
}

.group-22-rectangle-small {
    height: 22px;
    width: 330px;
    align-items: center;
}

.group-22-rectangle-small p {
    height: 16px;
    color: #FFFFFF;
    font-family: Arimo;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 16px;
}

.group-22-icon{
    height: 22px;
    width: 20.62px;
    color: #FFFFFF;
    font-size: 14px;
    margin-top: 8px;
}

/*  */

.group-7{
    height: 608px;
    width: 1583px;
    align-items: left;
    margin-left: 29px;
    background-color: white;
}

.nos-services {
    height: 28px;
    width: 215px;
    color: #000000;
    font-family: Arimo;
    font-size: 36px;
    font-weight: 600;
    letter-spacing: -0.58px;
    line-height: 28px;
}

.group-7-rectangle-big{
    flex-wrap: wrap;
}

.group-7-rectangle-medium{
    height: 260px;
    width: 784px;
    margin-top: 30px;
    align-items: center;
    background-color: #F4F3F4;
    padding-bottom: 32px;
    padding-top: 31px;
    margin-right: 7px;

}

.group-7-rectangle-small{
    width: 784px;
    padding-left: 27px;
    height: 260px;
}

.group-7-rectangle-small h3{
    height: 35px;
    width: 280px;
    color: #000000;
    font-family: Arimo;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: -0.48px;
    line-height: 35px;
}

.group-7-rectangle-small span{
    color: #000000;
    font-family: Arimo;
    font-size: 16px;
    font-style: italic;
    font-weight: 500;
    letter-spacing: -0.26px;
    line-height: 18px;
    margin-bottom: 0px;
}

.services-text{
    height: 72px;
    width: 324px;
}

.yellow-button{
    height: 40px;
    width: 159px;
    background-color: #F9B000;
    box-shadow: 0 2px 14px 0 rgba(0,0,0,0.1);
    border-style: none;
    justify-content: center;
    align-items: center;
}

.yellow-button p {
    height: 14px;
    width: 88px;
    color: #000000;
    font-family: Arimo;
    font-size: 12px;
    letter-spacing: 0;
    line-height: 14px;
    text-align: center;
}

.group-34{
    height: 236px;
    width: 264px;
    margin-left: 173.5px;
    background-color: #FFFFFF;
}

/*  */

.group-33{
    height: 615.85px;
    width: 1583px;
    margin-top: 197.69px;
    margin-left: 29px;

}


/*  */
.main-container{
    grid-area: main-container;
    height: 100%;
}

.container, .section{
    display: flex;
}

.column-direction{
    flex-direction: column;
}

.around-style{
    justify-content: space-around;
}

.between-style{
    justify-content: space-between;
}

.white-icon{
    color: white;
}

.hidden{
    display: none;
}


