body{
    width: 98vw;
    height: 100vh;
    display: flex;
    flex-direction: column;

    margin: 0px;
}

p, span, li, button{
    font-size: 62%;
}

h3{
    font-size: 80%;
}

i{
    margin-right: 1vw;
}

ul{
    list-style: none;
    padding-left: 0px;
}
.header{
    background-color: white;
    width: 100%;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
}

main{
    height: 100%;
    width: 100%;
    display: flex;
}

aside{
    width: 15%;
    height: 100%;
}

.main-container{
    background-color: white;
    width: 85%;
    height: 100%;
}

/*  Elements  */

.section, .container{
    display: flex;

}

.between-style{
    justify-content: space-between;
}

.around-style{
    justify-content: space-around;
}

.bold{
    font-weight: 200;
}

.column-direction{
    flex-direction: column;
}

.yellow-icon, .yellow-button{
    background-color: #F59C00;
}

.white-icon{
    color: white;
}

.grey-icon{
    color: grey;
}

.grey-text{
    color: gray;
}

.yellow-button{
    background-color: #F59C00;
    width: 40%;
    border: none;
    padding: 1vh ;
}

.border-orange-button{
    border-top: 1px solid #F59C00;
    border-left: 1px solid #F59C00;
    border-bottom: 1px solid #F59C00;
    border-right: none;
    border-radius: 30px;
    height: 25%;
    background-color: white;
}

/* Introduction section  */

.contact-container{
    align-items: center;
}

.introduction-section{
    background-color: #008480;   
    height: 30%;
    color: white;
}

.header-menu-section{
    height: 70%;
    align-items: center;
    background-color: #4F596D;
}

.header-menu-section-part{
    width: 30%;
}

.menu-and-title-container{
    justify-content: left;
    align-items: center;
    padding-left: 2vw;
}

.logo{
    width: 50%;
    height: 50%;
}

.search-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.search-input{
    width: 100%;
}

.header-menu-link{
    justify-content: center;
    align-items: center;
    color: white;
}

.header-menu-links-button{
    background-color: #F59C00;
    height: 100%;
}

/*  */
.menu-main-section{
    background-color: white;
    height: 20%;
    width: 100%;
    align-items: center;
    color: gray;

}

.menu-main-element{
    height: 80%;
    width: 100%;
    align-items: center;
    justify-content: center;
    border-right: 1px solid gray;
}


/*  */

.advertising-list{
    background-color: yellow;
    width: 100%;
}


.advertising-element{
    width: 100%;
    background-color: grey;
    justify-content: center;
    align-items: center;
    color: white;
    height: 4vh;
}

/*  */
.services-container{
    flex-wrap: wrap;
    justify-content: space-between;
}

.services-element{
    width: 49%;
    background-color: white;
    margin-bottom: 2vh;
    border: none;
}

.services-element-introduction{
    width: 50%;
    background-color: #F4F3F4;
    justify-content: space-around;
    align-items: baseline;
    padding-left: 2vw;
    padding-bottom: 2vh;
}

.services-image{
    width: 50%;
}

/* .services-button{
    background-color: #F59C00;
    width: 50%;
    border: none;
} */

/*  */

.offers-image{
    width: 50%;
    margin-right: 0.4vw;
}

/*  */

.products-selected-header{
    align-items: center;
    height: 100%;
}

.products-selected-header-menu{
    width: 55%;
    height: 90%;
    align-items: center;
}

.products-selected-header-menu-element{
    padding: 2vh 1vw;
}

.products-selected-header-menu-element:hover{
    border-bottom: 2px solid #F59C00;
}

.products-card{
    border: 1px solid grey;
    padding-left: 1vw;
    width: 18%;
    height: 80%;
}

.image-selected-products{
    width: 40%;
    height: 40%;
    align-self: center;
}

.products-card-footer{
    align-items: center;
}

.selected-products-dispo{
    color: green;
}

.products-card-header-reduction-case{
    background-color: #65ACF9;
    border-radius: 30px;
    align-items: center;
    font-size: 2vh;
    height: 3vh;
    justify-content: center;
}

/*  */

.company-introduction{
    align-items: center;
}



.advertising-image{
    width: 100%;
}
/*  */

.partners-list{
}

.partners-selection-container{
    align-items: center;
}

.partners-list-icons{
    flex-wrap: wrap;
    width: 40%;
}

.partner-image{
    width: 30%;
    height: 30%;
    padding-right: 2vw;
}

.partners-list-names-wrapper{
    width: 50%;
}

.partners-list-names-part{
    width: 30%;
}

.partner-list-names-element{
}

/*  */

.footer-header-element{
    color: #F59C00;
    align-items: center;
    width: 15%;
    text-align: center;
}

.footer-main, .footer-main-footer{
    background-color: #4F596D;
    color: white;
}

.footer-main-part{
    width: 25%;
}

.footer-main-footer{
    border-top: 1px solid white;
}

.footer-main-footer-links{
    width: 60%;
}